<div class="relative flex w-72 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-xl sm:mx-auto">
    <div class="relative mx-4 mt-4 h-40 overflow-hidden rounded-xl bg-white bg-clip-border text-gray-700">
        <a routerLink="../products/{{product._id}}">
            <img [src]="product.image" class="h-full w-full object-cover" />
        </a>
    </div>
    <a routerLink="../products/{{product._id}}">
        <div class="p-6">
            <div class="mb-2 flex items-star flex-col">
                <p class="block lg:h-12 font-sans text-base font-medium leading-relaxed text-blue-gray-900 antialiased">
                    {{product.name}}
                </p>
                <p class="block lg:h-10 font-sans text-base font-medium leading-relaxed text-blue-gray-900 antialiased">
                    <span class="text-red-700">$ {{product.price}}</span>
                </p>
            </div>
            <p class="block font-sans text-sm font-normal leading-normal text-gray-700 antialiased opacity-75">
                With plenty of talk and listen time, voice-activated Siri access, and an
                available wireless charging case.
            </p>
        </div>
    </a>
    <div class="p-6 pt-0">
        <button (click)="handleAddToCart()"
            class="block w-full select-none rounded-lg bg-blue-600 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white transition-all hover:scale-105 focus:scale-105 focus:opacity-[0.85] active:scale-100 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            type="button">
            Add to Cart
        </button>
    </div>
</div>