<div class="relative flex w-72 flex-col rounded-xl border border-t bg-white bg-clip-border text-gray-700 shadow-xl sm:mx-auto md:mx-auto">
    <div class="relative mx-4 mt-4 h-40 overflow-hidden rounded-xl bg-white bg-clip-border text-gray-700">
        <a [routerLink]="['/products', product._id]">
            <img [src]="product.image" class="h-full w-full object-cover" />
        </a>
    </div>
    <a [routerLink]="['/products', product._id]">
        <div class="pt-3 px-3  mb-3">
            <div class="mb-2 flex items-star flex-col">
                <p class="block lg:h-12 font-sans text-base font-medium leading-relaxed text-blue-gray-900 antialiased">
                    {{product.name}}
                </p>
                <p class="block lg:h-5 font-sans text-base font-medium leading-relaxed text-blue-gray-900 antialiased">
                    <span class="text-red-700">$ {{product.price}}</span>
                </p>
            </div>
            <p class="block h-[3rem] font-sans text-sm font-normal leading-normal text-gray-700 antialiased opacity-75">
                {{product.description}}
            </p>
        </div>
    </a>
    <div class="p-3 pt-0 flex justify-end">
        <button (click)="handleAddToCart()"
            class="block w-full-sm select-none rounded-lg py-3 px-3 text-center align-m_iddle font-sans text-xs font-bold uppercase text-white transition-all hover:scale-105 focus:scale-105 focus:opacity-[0.85] active:scale-100 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            type="button">
            <i class="fa-solid fa-cart-shopping fa-xl" style="color: #22c55e;"></i>
        </button>
        <button
            class="rounded-full w-10 h-10 p-0 border-0 inline-flex items-center justify-center text-gray-500 hover:text-red-500 hover:scale-105">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-w_idth="2" class="w-6 h-6"
                viewBox="0 0 24 24">
                <path
                    d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z">
                </path>
            </svg>
        </button>
    </div>
</div>