<div class="lg:py-20 md:py-20 py-20">
    <div class="flex bg-white rounded-lg shadow-lg overflow-hidden mx-auto max-w-sm lg:max-w-4xl">
        <div class="w-full p-8 lg:w-1/2">
            <h2 class="text-[32px] font-semibold text-gray-700 text-center">Register</h2>
            <div class="mt-4 flex items-center justify-between">
                <span class="border-b w-1/5 lg:w-1/4"></span>
                <a href="#" class="text-xs text-center text-gray-500 uppercase">sign up with email</a>
                <span class="border-b w-1/5 lg:w-1/4"></span>
            </div>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="mb-3 h-20">
                    <label class="block text-gray-700 text-md font-bold mb-2">Username</label>
                    <input formControlName="username"
                        class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none"
                        type="text">
                    <div
                        *ngIf="registerForm['controls']['username']?.errors && (registerForm['controls']['username']?.dirty)">
                        <span *ngIf="registerForm['controls']['username'].errors?.['minlength']" class="text-red-600">
                        Tài khoản tối thiểu 5 ký tự</span>
                        <span *ngIf="registerForm['controls']['username'].errors?.['required']"
                            class="text-red-600">Không để
                            trống dữ liệu</span>
                    </div>
                </div>
                <div class="mb-3 h-20">
                    <label class="block text-gray-700 text-md font-bold mb-2">Email</label>
                    <input formControlName="email"
                        class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none"
                        type="email">
                    <div *ngIf="registerForm['controls']['email']?.errors && (registerForm['controls']['email']?.dirty)">
                        <span *ngIf="registerForm['controls']['email'].errors?.['email']" class="text-red-600">Email không đúng định dạng</span>
                        <span *ngIf="registerForm['controls']['email'].errors?.['required']" class="text-red-600">Không
                            để trống dữ liệu</span>
                    </div>
                </div>
                <div class="mb-3 h-20">
                    <div class="flex justify-between">
                        <label class="block text-gray-700 text-md font-bold mb-2">Password</label>
                    </div>
                    <input formControlName="password"
                        class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none"
                        type="password">
                    <div *ngIf="registerForm['controls']['password']?.errors && (registerForm['controls']['password']?.dirty)">
                        <span *ngIf="registerForm['controls']['password'].errors?.['minlength']" class="text-red-600">Mật khẩu tối thiểu 5 ký tự</span>
                        <span *ngIf="registerForm['controls']['password'].errors?.['required']" class="text-red-600">Không
                            để trống dữ liệu</span>
                    </div>
                </div>
                <div class="mb-3 h-20">
                    <div class="flex justify-between">
                        <label class="block text-gray-700 text-md font-bold mb-2">Confirm Password</label>
                    </div>
                    <input
                        formControlName="confirmPass"
                        class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none"
                        type="password">
                    <div *ngIf="registerForm['controls']['confirmPass']?.errors && (registerForm['controls']['confirmPass']?.dirty)">
                        <span *ngIf="registerForm['controls']['confirmPass'].errors?.['minlength']" class="text-red-600">Mật khẩu tối thiểu 5 ký tự</span>
                        <span *ngIf="registerForm['controls']['confirmPass'].errors?.['required']" class="text-red-600">Không
                            để trống dữ liệu</span>
                    </div>
                </div>
                <div class="mt-8">
                    <button [disabled]="registerForm.invalid" type="submit"
                        class="bg-blue-700 text-white font-bold py-2 px-4 w-full rounded hover:bg-blue-800 disabled:bg-blue-400">Sign
                        up</button>
                </div>
            </form>
            <div class="mt-4 flex items-center justify-between">
                <span class="border-b w-1/5 md:w-1/4"></span>
                <span class="border-b w-1/5 md:w-1/4"></span>
            </div>
        </div>
        <div class="hidden lg:block lg:w-1/2 bg-cover"
        style="background-image:url('https://t4.ftcdn.net/jpg/01/19/11/55/360_F_119115529_mEnw3lGpLdlDkfLgRcVSbFRuVl6sMDty.jpg')">
      </div>
    </div>
</div>